extend /layout

block content
  div.panel.panel-default
    div.panel-heading Signup
    div.panel-body
      form(action="/signup", method="POST")
        input(type="hidden", name="_csrf", value=_csrf)
        div.form-group
          label(for="username") Username
          input.form-control(type="text", id="username", name="username", placeholder="Pick a username")
        div.form-group
          label(for="email") Email
          input.form-control(type="email", id="email", name="email", placeholder="Your email")
        div.form-group
          label(for="password") Password
          input.form-control(type="password", id="password", name="password", placeholder="Create a password")
        if error
          div.alert.alert-warning #{error}
        input(type="submit", class="btn btn-primary", value="Signup")