extend /layout

block content
  div.row
    div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      div.panel.panel-success
        div.panel-heading Signup
        div.panel-body You can now use your credentials to <a href="/login">login</a>.
