extend /layout

block content
  div.panel.panel-success
    div.panel-heading Signup
    div.panel-body
      | Sign up successfully completed. You can now use your credentials to 
      a(href="/login") login
      | .