extend /layout

block content
  div.panel.panel-default
    div.panel-heading Resend verification email
    div.panel-body
      p To activate your account you must first confirm your email address. 
        | Enter your email and submit the form below, and we will resend the confirmation email.
      form(action="/signup/resend-verification", method="POST")
        input(type="hidden", name="_csrf", value=_csrf)
        div.form-group
          label(for="email") Email
          input.form-control(type="email", id="email", name="email", placeholder="Your email")
        if error
          div.alert.alert-warning #{error}
        input(type="submit", class="btn btn-primary", value="Send email")